body{
    background-image: url("hogwarts castle.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bellefair', serif;
}

.oreo-words{
    padding: 7rem 0 7rem 0;

}

.title{
    padding: 7rem 0 0 7rem;
    color: white;
}

.card{
    padding: 10rem;
    color: white;
}

.phone-image{
    max-height: 50rem;
    max-width: 50rem;
    padding: 0 0 0 10rem;
    margin: 0 0 10rem 30rem;
}

.header{
    color:white;
}

.buttons{
    padding: 15rem 0 10rem 0;
}

.button-color{
    color: black;
}

.crests{
    padding: 10rem 0 45rem 0; 
    background-color: rgba(30, 42, 61, .7);
    color: white;
}

.map{
    margin: 20rem 0rem 20rem 0;
    padding: 0 0 0 20rem;
}

.gif{
    min-height: 35rem;
}

.next-to-gif{
     color:white;
     padding: 20rem 0rem 0rem 0rem;
 }

.map-text{
    color: white;
    padding: 30rem 0 0 0;
}

.footer{
     background-color: rgba(30, 42, 61, .7);
     color:white;
 }

.icon-size{
font-size: 5rem;
padding-top: 3rem;
 }

.mini-oreo{
    max-height: 15rem;
    max-width: 15rem;
}

.icon-text{
    font-size: 3rem;
}

 .footer{
     padding: 5rem 5rem 5rem 5rem;
 }
 
